@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nanum+Gothic&display=swap');

body{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    background-color: #231F37;
}

/*
#############
    CONTETNT 
#############
*/

#main{
    background-color: #16161A;
    color: white;
    margin: 0 25%;
    min-height: 100vh;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


p{
    margin: 5%;
}

/*
#############
NAVBAR 
#############
*/

#navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    overflow: hidden;
    background-color: #6308B9;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#navbar input[type=search] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 17px;
    width: 100%;
}

#navbar div{
    display: flex;
    align-items: center;
}

#buttons{
    width: 25%;
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

#buttons button,#buttons a{
    width: 30%;
    background-color: #231F37;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: #231F37 1px solid;
    border-radius: 25px;
    cursor: pointer;
}

#buttons button:hover,#buttons a:hover{
    background-color: #36324e;
}

#navbar div img{
    max-height: 2.5rem;
    object-fit: scale-down;
}

#navbar div img::selection{
    color: none;
    background: none;
}

#search{
    width: 50%;
}

#title{
    width: 25%;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

/*
#############
POSTS 
#############
*/

#posts{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.post{
    width: 95%;
    padding: 2.5%;
}

.post img{
    object-fit: scale-down;
    max-height: 100%;
    max-width: 100%;
}

.post h2{
    text-align: left;
    margin: 0;
}

.post a{
    color: white;
    text-decoration: none;
}

.post p{
    text-align: left;
    font-size: 15px;
    margin: 0;
}

.post_topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.score{
    margin-right: 10px;
}

.md{
    margin: 0 2%;
}

.nsfw{
    filter: blur(32px);
    -webkit-filter: blur(32px);
    cursor: pointer;
}

.nsfw_title{
    color: red;
    font-weight: 900;
}

/*
#############
MENU 
#############
*/

#hidden_menu{
  width: 100%;
  min-height: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  position: sticky;
  background-color: #36324e;
  z-index: 10;
}

.category_container{
    width: 100%;
    padding: 5px;
    font-size: 1.5em;
}

.search_category{
    display: inline-block;
    background-color: #231F37;
    border-radius: 50px;
    color: white;
    border: 2px white solid;
    padding: 20px 15px;
    width: fit-content;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    cursor: pointer;
    margin: 0 10px;
    user-select: none;
}


.chosen{
    background-color: #7E217B;
}

/*
#############
SCROLLBAR 
#############
*/

* {
scrollbar-width: auto;
scrollbar-color: #6308B9 #16161A;
}

*::-webkit-scrollbar {
width: 16px;
}

*::-webkit-scrollbar-track {
background: #16161A;
}

*::-webkit-scrollbar-thumb {
background-color: #8f54a0;
border-radius: 10px;
}

@media only screen and (max-width: 800px){
    #main{
        max-width: 100%;
        margin: 0;
    }

    #title, #title h1{
        display: none;
        width: 0;
    }

    #buttons button:nth-child(3){
        display: none;
        width: 0;
    }

    #search{
        width: 60%;
    }

    #navbar div img{
        max-height: 1.5rem;
    }

    #buttons{
        justify-content: space-around;
    }

    #buttons button{
        width: 50%;
    }
}