<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Saved Post Manager</title>
</head>
<body>
    <div id="main">
        <h1>SAVED POST MANAGER</h1>
    {% if (session.get('name')) %}
        <div id="navbar">
            <p>u/{{ session['name'] }}</p>
            <input type="text" placeholder="Search..">
            <a href="">LOG OUT</a>
        </div>
        <div id="posts">
            {% for post in saved_posts %}
            <div id="posts">
                <div class="post">
                    <div class="post_topbar">
                        <div class="score">
                            👍<br>
                            {{ post[0] }}<br>
                            👎<br>
                        </div>
                        <div class="info">
                            <p>{{ post[1]}} 👉 Posted by u/{{ post[2] }} ⏰{{ post[3].day }}-{{ post[3].month }}-{{ post[3].year }}</p>
                            <a href="{{ post[4] }}" target="_blank"><h2>{{ post[5] }}</h2></a>
                        </div>
                    </div>
                    {% if post[6] != '' %}
                        {{ post[6] }}
                    {% else %}
                        <img src="{{ post[7] }}" alt="{{ post[5] }}">
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
            <a href="{{ auth_url }}"><button id="url_button">LOG IN WITH REDDIT</button></a><br>
            <hr><br>
            <p><b>SAVED POST MANAGER</b> is free and open-source tool to browse and manage you're saved posts. The main advantage of project are:</p>
            <ul>
                <li>Browse you're saved post fast and easy</li>
                <li>Reddit show only 1 000 posts, now you can save all you're important stuff</li>
                <li>Search through you're items</li>
                <li>Group posts by subreddits</li>
            </ul>
    {% endif %}
    </div>
</body>
</html>