<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_welcome.css') }}">
    <title>Re-Save</title>
</head>
<body>
    <div id="main">
        <div id="navbar">
            <h1>Re-Save</h1>
        </div>
        <div id="content">
            <div id="info">
                Browse and manage post that you saved on you're Reddit account. <br>
                Filtr them by subreddits and keywords. <br>
                View the information like karma count, date of upload, etc. <br>
                <hr>
                You're Reddit informations are safe. This website can't access you're password. <br>
                View source code on <a href="https://github.com/AcidSkull/Re-Save" target="_blank">GitHub</a>. <br> <br> <br>
                <a href="{{ auth_url }}" class="auth_url">LOG IN WITH REDDIT</a>
            </div>
            <img src="{{ url_for('static', filename='images/avatar.svg') }}" alt="avatar" title="u/AciidSkull">
        </div>
    </div>
</body>
</html>